{% extends 'base.html.twig' %}

{% block title %}Edit Profils{% endblock %}

{% block main %}
    <h1>Edite ton profil</h1>

    {{ include('profils/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}